*{
    font-family: sans-serif ;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{    
    background-image: url(img/imagem-de-fundo.jpg);     
    background-size: 1370px 660px; 
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: lightgreen;
    width: 300px;
    height: 50px;
    border-radius: 30px; 
    border: solid 1px lightgreen;   
    margin: auto; 
    margin-top: 10px;
}

.botoes{    
    display: flex;    
    justify-content:center;
    align-items:center;
}

.botao{
    display: flex;
    background-color: black;
    color: lightgreen;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgreen;
    border-radius: 30px;
    width: 130px;    
    height: 35px;   
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;      
}

.botao:hover{
    background-color: lightgreen;
    color: black;
}

.jogo{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-right: 10px;  
    color: rgb(2, 2, 2);    
}

#snake{
    border: 10px solid black;
}

